{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div id="aboutsection">
        <h1>About</h1>
        <h2>People getting more done with great systems and tools
        </h2>
    </div>
    <div id="details">
        <div class="learningteaching">
            <img src="{% static './img/computer1.png' %}">
            <h1>People</h1><br>
            <p>Building the right team takes time making the right hires that 
            fit your company culture then keeping them engaged and motivated.</p><br>
            <p>Navigating challenging conversations with discretion and tact to
            give feedback and change outcomes without staff losing discrete 
            motivation.</p><br>
            <p>Understanding people and their personality types, how they work
            best and getting the most out of them</p>
        </div>
        <div class="learningteaching">
            <img src="{% static './img/computer2.png' %}">
            <h1>Systems</h1><br>
            <ul>
            <li>Payroll - Ensuring compliance and getting it right when it 
            matters to your people.</li><br>
            <li>Automation - Augmenting your people with great automation tools
            to get more work done in less time.</li><br>
            <li>Clock In system - Precision and </li><br>
            <li>Rostering systems - Flexible and keeping people informed.</li><br>
            </ul>
        </div>
    </div>
    <div id="qualifications">
        <h1>Qualifications</h1>
        <ul>
        <li>HR Degree</li>
        <li>Psychology Degree</li>
        <li>Google Professional Certification - IT automation</li>
        <li>Google Profressional Certification - Data Analysis</li>
        <li>Myers Briggs Assessor Accreditation</li>
        </ul>
    </div>
    <div id="Systems Implemented">
        <h1>Systems Implemented</h1>
        <p>1. Roster System
        2. Improved Stocktake
        3. Immigration
        4. Training Management
        5. Recruitment
        6. Performance Management
        </p>
    </div>
    <h1 id="latestblogs">Latest from the blog</h1>
    <!-- Home cards 1 -->
    <section class="home-cards">
        <div>
            <img src="https://i.ibb.co/LZPVKq9/card1.png" alt="">
            <h3>The Memory Palace</h3>
            <p>
                See how Katie Sowers, Asst. Coach for the 49ers, uses Surface Pro 7
                to put her plans into play.
            </p>
            <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://i.ibb.co/KjGFHVJ/card2.png" alt="" />
            <h3>How to set a goal</h3>
            <p>
                Express yourself powerfully with a thin, light, and elegant design,
                faster performance, and up to 11.5 hours battery life.
            </p>
            <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://i.ibb.co/mGZcxcn/card6.jpg" alt="" />
            <h3>The importance of why</h3>
            <p>
                Buy an Xbox One X console and double your fun with a free select
                extra controller. Starting at $349.
            </p>
            <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials dark">
        <div class="content">
            <h2>Testimonials</h2>
            <p>In mattis pulvinar dui vitae placerat. Sed consequat leo sit amet scelerisque commodo. Fusce bibendum
                nunc purus, eget malesuada ex fringilla ac. Mauris imperdiet ipsum ac eros feugiat, sed tincidunt nibh
                tincidunt. Maecenas a turpis sed lacus lacinia tincidunt et id augue.</p>
            <a href="#" class="btn">
                Learn More <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <!-- Follow -->
    <section class="follow">
        <p>Follow Tim</p>
        <a href="https://facebook.com">
            <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
        </a>
        <a href="https://twitter.com">
            <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
        </a>
        <a href="https://linkedin.com">
            <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
    </section>
</div>


{% endblock content%}